ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.logo:hover{
    cursor: pointer;
}
.navbar span{
    font-family: 'Alfa Slab One';
    color: #bf2222;
    text-decoration: none;
    
}

.navbar h1{
	font-family:'Alfa Slab One';
	font-size: 1.5rem;
	margin:auto 25px auto 100px;
	letter-spacing: 2px;
	color:#3d2514;
}
.navbar{
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: flex-start;
}
.navbar ul{
    margin: 1px;
    display: flex;
}
.navbar ul li a{
    font-family: 'Bebas Neue';
    color:#3d2514;
	height:40px;
	line-height: 43px;
	padding: 0px 40px;
	display: flex;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

.navbar ul li a:hover{
    cursor:pointer;
	background-color: #bf2222;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
	transition: all ease 0.2s;
    text-decoration: none;
}

#Cart{
    margin-left: 25vw;
}

.contacto{
  text-align: center;
  width: 100%;
}
