.StepProgress{
    margin: 50px auto;
    display: flex;
    justify-content: center;
}       

.Progress-container{
    width: 70rem;
    height: 80rem;
}
.img-progress-container{
    display: flex;
    justify-content: center;
    align-items: center;
}   

.title{
    margin-top: 75px;
}

.false-order-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Progress-container{
    color: #fff;
}