.StepProgress{
    margin: 50px auto;
    display: flex;
    justify-content: center;
}       

.Progress-container{
    width: 70rem;
    height: 80rem;
}
.img-progress-container{
    display: flex;
    justify-content: center;
    align-items: center;
}   

.title{
    margin-top: 75px;
}

.false-order-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Progress-container{
    color: #fff;
}
.Container{
    display: flex;
    justify-content: center;
}
.Products-container{
    margin-top: 50px;
    width: 25%;
}
li{
	font-family: 'Bebas Neue';
    color:#3d2514;
    font-size: 1.5rem;
}
.stripe-container{
    width: 40%;
    text-align: center;
    margin: 25px auto;
}